body {
  margin: 0px;
}

.ttt-row {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  width: 400px;
  margin: 0px auto;
}

.ttt-square {
  border: black solid 2px;
  min-height: 80px;
  flex-grow: 1;
  width: 30px;
}

#game-over {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

#game-over div {
  background-color: white;
  width: 40%;
  height: 200px;
  border: black solid 3px;
  border-radius: 5px;
  margin: 150px auto;
  text-align: center;
  font-size: 2rem;
}

#player-turn {
  border: black solid 2px;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  width: 60px;
  padding: 10px;
  background-color: lightgrey;
  font-size: 20px;
}

#reset-button {

}
